/.classpath
/.project
/.settings/
/.gradle/
build/
.idea/
*.iml
alizarin-crimson/
bangladesh-green/
candy-pink/
dim-gray/
eerie-black/
fuzzy-wuzzy/
golden-brown/
heat-wave/
imperial-red/
japanese-violet/
lavender-gray/
/common/
