<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pagina de publi</title>
    <!-- <meta http-equiv="refresh" th:content="'20;url=' + ${target}"/> -->
     <meta charset="UTF-8"/>
 </head>
 <body onLoad="ini();">
 <div id ="demo" class="col-lg-12 text-center">
     <h1>PÁGINA DE PUBLICIDAD</h1>
 </div>
 <div>
     <iframe width="560" height="315" src="https://www.youtube.com/embed/PBEk11JStlU?rel=0&amp;controls=0&amp;autoplay=1&amp;showinfo=0" frameborder="0"></iframe>
 </div>
 <div align="right"><IMG SRC="http://www.homerswebpage.com/flash/tostadora_70px1.gif"/></div>

 <script th:inline="javascript">
 /*<![CDATA[*/
 var cuentaInicial = "20";
 function fin() {
  var xhttp = new XMLHttpRequest();
  xhttp.onload = function() {
    if (xhttp.status == 200 ) {
      window.location.href=this.responseText;
    }
    else{
      alert("MAL");
    }
  };
  var hash = /*[[${hash}]]*/ "abcd";
  xhttp.open("GET", "/redireccion/" + hash, true);
  xhttp.send();
}

 function unoMenos() {
 with (
 document.forms["cuenta"]["regresiva"]) value = 'Será redireccionado a la página principal en '+cuentaInicial+' segundos.';
 if (
 cuentaInicial-- > 0
 )
 setTimeout("unoMenos()", 1000);
 else fin();
 }
 function ini() {
 with (
 document.forms["cuenta"]["regresiva"]) value = 'Será redireccionado a la página principal en '+cuentaInicial--+' segundos.';
 setTimeout("unoMenos()", 1000);
 }
 /*]]>*/
 </script>
 <form name="cuenta" action="" >
     <input name="regresiva" type="text" size="55" readonly="" style="border:0px;"/>
 </form>
 </body>
</html>
